extends ../layout

block content
  .page-header
    h3 Trakkr
    ul
      li
        span Description:&nbsp;
        | #{trakkr.description}
      li
        a(href=`/trakkr/${trakkr._id}/edit`)
          i.fa.fa-edit
      li
        a(href=`/trakkr/${trakkr._id}/okkur/new`)
          i.fa.fa-plus
      li
        form.form-horizontal(id='delete-trakkr', method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          button(id='delete-trakkr' data-id=trakkr._id)
            i.fa.fa-remove

    - if (trakkr.okkurs)
      h4 Okkurances
      ul
        each okkur in trakkr.okkurs
          li
            a(href=`/trakkr/${trakkr._id}/okkur/${okkur.id}`) #{okkur.description}
            |&nbsp;:: #{okkur.formatted_date()}