extends ../layout

block content
  .page-header
    h3 Trakkr
    a(href=`/trakkr/${trakkr._id}/okkurs/new`)
      i.fa.fa-plus &nbsp;
    ul
      li
        span Description:&nbsp;
        | #{trakkr.description}
      li
        a(href=`/trakkr/${trakkr._id}/edit`)
          i.fa.fa-edit
      li
        form.form-horizontal(id='delete-trakkr', method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          button(id='delete-trakkr' data-id=trakkr._id)
            i.fa.fa-remove